<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="app center">

    <div class="card edit-box">

        <h2>Edit Task</h2>

        <form th:action="@{/tasks/{id}/edit(id=${task.id})}"
              th:object="${task}"
              method="post">

            <input type="text" th:field="*{title}" placeholder="Task title" required/>

            <textarea th:field="*{description}" placeholder="Description..."></textarea>

            <select th:field="*{priority}">
                <option value="LOW">Low Priority</option>
                <option value="MEDIUM">Medium Priority</option>
                <option value="HIGH">High Priority</option>
            </select>

            <div class="actions">
                <button class="btn primary">Save</button>
                <a href="/" class="btn ghost">Cancel</a>
            </div>

        </form>

    </div>

</div>

</body>
</html>